@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.arco-radio-button {
  color: #fff !important;
  background-color: rgb(var(--primary-6)) !important
}

.arco-radio-button:hover {
  color: #fff !important;
  background-color: rgb(var(--primary-5)) !important
}

.arco-radio-checked {
  color: #fff !important;
  background-color: rgb(var(--primary-4)) !important;
}

.arco-radio-group-button {
  background-color: unset !important;
}

.arco-btn-size-mini {
  height: 18px !important;
}

body[arco-theme='dark'] {
  --color-bg-2: rgba(25, 25, 25, 0.8)
}

body {
  --color-bg-2: rgba(255, 255, 255, 0.5)
}

.arco-input-wrapper {
  background-color: unset;
  border-color: rgb(var(--color-text-2));
  color: var(--color-text-2);
}

.arco-input-wrapper:hover {
  background-color: var(--color-bg-1);
  border-color: rgb(var(--color-text-2));
  color: var(--color-text-2);
}