/* @tailwind base; */
@tailwind components;
@tailwind utilities;


.move-window-content {
  -webkit-app-region: drag;
}

html {
  width: 100vw;
  height: 100vh;
}

body,
#app {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/* Global Vss Vars */
:root {
  --el-bg-color: rgba(255, 255, 255, 0.8)
}

html.dark:root {
  --el-bg-color: rgba(0, 0, 0, 0.8)
}

/* Common Class */
.extra-large-text {
  font-size: var(--el-font-size-extra-large);
}

.extra-small-text {
  font-size: var(--el-font-size-extra-small);
}

.light-color-text {
  opacity: 0.4;
}

.fade-forward-enter-active,
.fade-forward-leave-active,
.fade-backward-enter-active,
.fade-backward-leave-active {
  transition: all 0.25s ease-out;
}

.fade-forward-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.fade-forward-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-backward-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-backward-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*Welcome View*/
.welcome-carousel .el-carousel__container {
  height: 100%;
}

/* Modified Element Default Style */
.el-divider__text,
.el-tree {
  background-color: unset !important;
}