@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.move-window-content {
  -webkit-app-region: drag;
}

* {
  margin: 0;
  padding: 0;
}

.arco-radio-button {
  color: #fff !important;
  background-color: rgb(var(--primary-6)) !important
}

.arco-radio-button:hover {
  color: #fff !important;
  background-color: rgb(var(--primary-5)) !important
}

.arco-radio-checked {
  color: #fff !important;
  background-color: rgb(var(--primary-4)) !important;
}

.arco-radio-group-button {
  background-color: unset !important;
}

.arco-btn-size-mini {
  height: 18px !important;
}

body[arco-theme='dark'] {
  --color-bg-2: rgba(0, 0, 0, 0.7);
  --color-bg-2-1: rgba(0, 0, 0, 0.9);
  --color-fill-2-1: rgba(25, 25, 25, 0.4);
}

body {
  --color-bg-2: rgba(255, 255, 255, 0);
  --color-bg-2-1: rgba(255, 255, 255, 0.8);
  --color-fill-2-1: rgba(230, 230, 230, 0.4);
}

.arco-divider-text {
  background: unset;
}

.arco-tree-node-selected {
  background: rgb(var(--primary-6));
  color: unset;
}

.arco-tree-node-selected>.arco-tree-node-switcher {
  color: rgb(220, 220, 220);
}

.arco-tree-node-title:hover {
  background-color: unset;
}

.arco-tree-node-selected .arco-tree-node-title,
.arco-tree-node-selected .arco-tree-node-title:hover {
  color: rgb(220, 220, 220);
}

.arco-tree-node {
  border-radius: 15px;
  margin: 2px 5px;
  padding: 0px 5px;
}

.arco-tree-node-switcher>.arco-icon-hover:hover {
  background-color: unset;
}

.arco-input-wrapper {
  background-color: unset;
  border-color: rgb(var(--color-text-2));
  color: var(--color-text-2);
}

.hover-tip {
  width: auto;
  height: auto;
  background-color: var(--color-bg-2);
  padding: 3px 20px;
  color: var(--color-text-2);
}

.help-icon:hover {
  color: var(--color-text-1);
}

.help-icon {
  color: var(--color-text-2);
  cursor: help;
}

.arco-input-wrapper:hover {
  background-color: var(--color-bg-2);
  border-color: rgb(var(--color-text-2));
  color: var(--color-text-2);
}